.ipynb_checkpoints
glove.6B
tripadvisor_hotel_reviews
GloVe Embedding.ipynb
GoogleNews-vectors-negative300.bin.gz
tripadvisor_hotel_reviews.json
tripadvisor_hotel_reviews.json.gz
tripadvisor_reviews_badformat.json
Word2Vec.ipynb